body {
  margin: 0px;
  font-family: sans-serif;
}

.display {
  background: #eee;

  .search {
    background: #219;
    color: #fff;
    padding: 1rem;
    text-align: center;

    input {
      height: 40px;
      padding-left: 10px;
      border-radius: 0px;
      border: 1px solid #ddd;
      text-transform: capitalize;
    }
  }
  ul{
    li{
      background: #fff;
      box-shadow: 0px 0px 3px #ccc;
      width: 60%;
      margin: auto;
      list-style: none;
      padding: 20px;
      align-items: center;
      img{
        width:100px;
        height: 100px;
        border-radius: 100%;
      }
      span{
        margin-left: 20px;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 22px;
      }
      .wholeprof{
        display: flex;
        align-items: center;
      }
    }
    .innerlist{
      display: block;
      padding-left: 0px;
      li{
        margin: 10px 0px;
      }
    }
  }
}
